@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@200..900&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

body {
    margin: 0;
    padding: 0;
    /* display: flex; */
    /* height: 100vh;
    align-items: center; */
    justify-content: center;
    font-family: "Lato", sans-serif;
}

header {
    & nav {
        display: grid;
    }
    
    & ul {
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        list-style: none;
        text-align: center;

        & button {
            appearance: none;
            background-color: transparent;
            border: none;
            cursor: pointer;
            outline: none;
            font-family: inherit;
            font-size: 1.2rem;
            font-weight: 600;
            padding: 0.5rem 1rem;
        }
    }
}

